/* Akrobat Font*/

/*Черный (Густой) Black (Heavy)*/
@font-face {
  font-family: "Akrobat-Black";
  src: url("../fonts/akrobat/Akrobatblack.ttf");
  font-weight: 900;
  font-style: normal;
}


.home-games-page {
  background-image: url("../images/home-games/background.png");
  background-size: contain;
  background-repeat: repeat-y;

  .main-section {
    text-align: center;

    &-title {
      font-family: Raleway;
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 28px;
      margin-top: 110px;
      color: #FFFFFF;
    }

    &-description {
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      max-width: 830px;
      color: #FFFFFF;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      padding: 0px 15px;
    }
  }

  .section-info-grid {
    overflow: hidden;
    padding-bottom: 50px;
    margin-top: 120px;

    .row.owl-carousel {
      margin-right: 0px;
      margin-left: 0px;
    }

    .grid-item {
      background: #E20078;
      padding: 45px 18px;
      height: 390px;
      position: relative;

      &-title {
        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 21px;

        /* #FFFFFF */

        color: #FFFFFF;
      }

      &-description {
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        display: flex;
        align-items: center;
        margin-top: 12px;
        color: #FFFFFF;
      }

      &-4 {
        .grid-item-description {
          max-width: 375px;
        }
      }

      &-5 {
        .grid-item-title {
          max-width: 350px;
        }

        .grid-item-description {
          max-width: 260px;
        }
      }

      .z-index-show {
        overflow: visible;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;


        .blank1 {
          position: absolute;
          width: 103.76px;
          height: 66.91px;
          left: 0px;
          top: 200px;
        }

        .comp {
          position: absolute;
          width: 123px;
          height: 134px;
          right: 0px;
          bottom: 30px;
        }

        .sandwich {
          position: absolute;
          width: 150px;
          height: 150px;
          right: -48px;
          top: -58px;
        }

        .cat {
          position: absolute;
          width: 226px;
          height: 152px;
          right: -10px;
          bottom: 0;
        }

        .seeds3 {
          position: absolute;

          left: -18px;
          bottom: 0;
        }

        .radio {
          position: absolute;
          width: 145px;
          height: 150px;
          right: -22px;
          bottom: -12px;
        }

        .blank2 {
          position: absolute;
          left: 0;
          bottom: 0px;
        }

        .bagel {
          position: absolute;
          left: -10px;
          bottom: 0px;
          width: 150px;
          height: 145px;

        }

        .cup {
          position: absolute;
          right: 5px;
          bottom: 6px;
          width: 200px;
          height: 140px;
        }

        .seeds1 {
          width: 50px;
          height: 50px;
          position: absolute;
          right: 0px;
          bottom: 0px;
        }

        .seeds4 {
          width: 50px;
          height: 50px;
          position: absolute;
          right: 0px;
          bottom: 0px;
        }

        .teapot {
          position: absolute;
          right: -150px;
          top: -120px;
        }
      }

      .z-index-hidden {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }


    }
  }

  .section-games {
    .title {
      font-family: Akrobat-Black;
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 28px;

      color: #FFFFFF;
      text-align: center;
    }

    .games-tabs {
      display: flex;
      align-items: center;
      justify-content: center;

      &-item {
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        margin: 20px;
        color: #FFFFFF;
        padding-bottom: 9px;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all 0.5s ease;

        &.active {
          color: #FFE400;
          border-bottom: 5px solid #FFE400;
        }

        &:hover {
          color: #FFE400;

        }
      }
    }

    .games-container {
      .game {
        &-item {
          background: #551394;
          border: 8px solid #6C3AE7;
          box-sizing: border-box;
          padding: 12px;
          height: 100%;

          position: relative;

          .rose-button {
            position: absolute;
            bottom: 36px;
            right: 12px;
            left: 12px;
            width: calc(100% - 24px);
          }
        }

        &-title {
          font-family: Raleway;
          font-style: normal;
          font-weight: 900;
          font-size: 20px;
          line-height: 26px;
          display: flex;
          align-items: center;
          margin-bottom: 18px;
          color: #FFFFFF;
        }

        &-description-home {
          font-family: Raleway;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          /* or 150% */


          color: #FFFFFF;
        }


        &-meta {
          margin-top: 25px;
          margin-bottom: 80px;
          display: block;

          .game-time {
            img {
              margin-right: 14px;
            }

            display: flex;
            align-items: center;
            margin-right: 25px;

          }

          .game-cost {
            img {
              margin-right: 14px;
            }

            display: flex;
            align-items: center;
          }
        }
      }
    }

    .games-select {
      background: rgba(255, 228, 0, 0.1);
      border: 2px solid #FFD308;
      box-sizing: border-box;
      border-radius: 4px;
      color: white;
      width: 100%;
      text-align: center;
      padding: 5px 15px;
      outline: none;
      margin-bottom: 15px;

      option {
        color: black;
        background: rgba(255, 255, 255, 1);

      }
    }
  }

  .section-home-games-form {
    &-container {
      border: 8px solid #FFFFFF;
      box-sizing: border-box;
      padding: 18px 12px;

      .form-title {
        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;

        color: #FFFFFF;
      }

      .form-caption {
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #FFFFFF;
      }

      label {
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        display: block;
        color: #FFFFFF;
        margin-bottom: 8px;
      }

      #email-subscriber {
        background: #FFFFFF;
        border-radius: 4px;
        padding: 15px 20px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #777B87;
        outline: none;
        border: 2px solid #FFFFFF;
        transition: all 0.2s ease;
        margin-bottom: 20px;
        width: 100%;

        &:hover, &:focus {
          border-color: #FFE400;
        }
      }

      .row-terms {
        display: flex;
        flex-direction: column-reverse;
      }

      .terms {
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;

        color: #FFFFFF;
      }

      .yellow-button {
        margin-top: 10px;
        padding: 10px 30px;
      }
    }

  }

  .home-games-link {
    color: #FFE400;
    text-decoration: none;
  }
}

#home-games-footer {
  background-color: #1a1a1a;
  padding: 10px;


  .to_up {
    color: white;
    background-color: #333;
    border: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 19px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
    justify-content: center;

    svg {
      color: white;
      width: 24px;
      height: 24px;
      margin-right: 5px;
    }
  }

  .menu {

    margin-top: 10px;
    margin-bottom: 15px;

    a {
      color: #666;
      margin-right: 10px;
      text-decoration: none;
      margin-bottom: 10px;
      display: inline-block;

    }
  }

  .any-questions {
    color: #666;
    margin-bottom: 10px;
    text-decoration: none;
    display: block;
  }

  .footer-email {
    display: block;
    color: white;
    font-family: Akrobat-Black;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .footer-phone {

    display: block;
    color: white;
    font-family: Akrobat-Black;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
  }

  .footer-socials {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 36px;
      height: 36px;
      color: #666;
      border: 1px solid #666;
      border-radius: 50px;
      margin: 15px;
      padding: 7px;
    }
  }

  .personal-data a {
    color: #666;
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
  }

}

.rose-button {


  font-family: Akrobat-Black;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  background: #FC1AA3;
  box-shadow: 0px 4px 0px #A70C55;
  padding: 10px 35px;
  text-decoration: none;
  transition: all 0.5s ease;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    background: #A70C55;
    transform: translate(0px, 4px);
    box-shadow: 0px 0px 0px #A70C55;

  }
}

.yellow-button {
  font-family: Akrobat-Black;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  background: #FFE400;
  box-shadow: 0px 4px 0px #E8B229;
  padding: 16px 48px;
  text-decoration: none;
  transition: all 0.5s ease;
  outline: none;
  border: none;
  position: relative;
  cursor: pointer;

  &:hover {
    background: #E8B229;
    transform: translate(0px, 4px);
    box-shadow: 0px 0px 0px #E8B229;

  }
}

@media (min-width: 768px) {
  // col-md-
  .home-games-page {
    .main-section-title {
      font-size: 54px;
      margin-top: 180px;

    }

    .main-section-description {
      font-size: 16px;
      line-height: 21px;
    }

    .section-games {
      .title {
        font-size: 32px;
        line-height: 34px;
        margin-top: 40px;
      }

      .games-tabs-item {
        margin: 13px;
        font-size: 16px;
        line-height: 20px;
        padding-left: 0px;
        padding-right: 0px;
      }

      .games-container {
        .game-item {
          padding: 29px;

          .rose-button {
            right: 24px;
            left: 24px;
            width: calc(100% - 48px);

          }
        }

        .game-title {
          font-size: 26px;
          line-height: 26px;
        }

        .game-description-home {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    .section-home-games-form-container {
      .row-terms {
        align-items: flex-start;

      }

      .row {
        max-width: 530px;
        margin: auto;
      }

      .form-title {
        font-size: 32px;
        line-height: 38px;
      }

      .form-caption {
        font-size: 24px;
        line-height: 36px;
      }

    }
  }

}

@media (min-width: 992px) {
  // col-lg-
  .home-games-page {
    .main-section-title {
      font-size: 90px;
      line-height: 100px;
    }

    .main-section-description {
      font-size: 24px;
      line-height: 28px;
    }


    .section-info-grid {
      .grid-item {
        .grid-item-title {
          font-weight: 900;
          font-size: 24px;
          line-height: 28px;
        }

        .grid-item-description {
          font-size: 16px;
          line-height: 19px;
        }

        .z-index-show {
          .comp {

            position: absolute;
            width: auto;
            height: auto;
            right: 0px;
            bottom: 0px;
          }

          .cat {
            width: auto;
            height: auto;
          }

          .radio {
            width: auto;
            height: auto;
          }
        }
      }
    }

    .section-games {
      .title {
        font-size: 40px;
        line-height: 40px;
      }

      .games-container {
        .game-meta {
          display: flex;
        }

        .game-item {
          .rose-button {
            width: auto;
            left: calc(50% - 60px);

          }
        }

        .game-title {
          font-size: 32px;
          line-height: 38px;
        }

        .game-description-home {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    .section-home-games-form-container {
      .row {
        max-width: none;
      }
    }
  }
  #home-games-footer .footer-socials {
    justify-content: flex-end;

  }
}

@media (min-width: 1200px) {
  // col-xl-
  .home-games-page {
    .main-section {
      &-title {
        margin-top: 230px;
        margin-bottom: 40px;
      }
    }

    .section-info-grid {
      .grid-item {
        .z-index-show {

          .blank1 {
            position: absolute;
            width: auto;
            height: auto;
            left: -40px;
            top: 200px;
          }

          .comp {
            position: absolute;
            width: auto;
            height: auto;
            right: 30px;
            bottom: 30px;
          }

          .sandwich {
            position: absolute;
            width: auto;
            height: auto;
            left: 200px;
            top: -70px;
          }

          .cat {
            position: absolute;
            width: auto;
            height: auto;
            right: -40px;
            bottom: 0;
          }

          .seeds3 {
            position: absolute;
            left: -18px;
            bottom: 16px;
          }

          .radio {
            position: absolute;
            width: auto;
            height: auto;
            right: -79px;
            bottom: 5px;
          }

          .blank2 {
            position: absolute;
            width: auto;
            height: auto;
            left: 50px;
            bottom: 0px;
          }

          .bagel {
            position: absolute;
            width: auto;
            height: auto;
            left: -15px;
            bottom: 0px;

          }

          .cup {
            position: absolute;
            right: -50px;
            bottom: -30px;
            width: auto;
            height: auto;
          }

          .seeds1 {
            position: absolute;
            right: 200px;
            width: auto;
            height: auto;
          }

          .seeds4 {
            position: absolute;
            right: -25px;
            top: 0px;
            width: auto;
            height: auto;
          }

          .teapot {
            position: absolute;
            right: -150px;
            top: -100px;
            width: auto;
            height: auto;
          }
        }

        &-4, &-5 {
          padding: 63px 54px;
        }
      }
    }

    .section-games {
      .title {
        margin-top: 100px;
      }

      .games-tabs-item {
        margin: 20px 20px 30px 20px;
        font-size: 20px;
      }
    }

    .section-home-games-form-container {
      padding: 60px 100px;
      margin-top: 50px;

      .form-caption {
        margin-top: 5px;
      }

      .row-terms {
        flex-direction: row;

      }

      .yellow-button {
        margin-top: 0px;
      }

      .terms {
        margin-left: 27px;
        align-items: center;

      }
    }

  }


  #home-games-footer .footer-socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  #home-games-footer .personal-data a {
    color: #666;
    margin-bottom: 10px;
    display: block;
  }
}
