@charset "UTF-8";
/* Akrobat Font*/
/*Черный (Густой) Black (Heavy)*/
@font-face {
  font-family: "Akrobat-Black";
  src: url("../fonts/akrobat/Akrobatblack.ttf");
  font-weight: 900;
  font-style: normal;
}
.home-games-page {
  background-image: url("../images/home-games/background.png");
  background-size: contain;
  background-repeat: repeat-y;
}
.home-games-page .main-section {
  text-align: center;
}
.home-games-page .main-section-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  margin-top: 110px;
  color: #FFFFFF;
}
.home-games-page .main-section-description {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  max-width: 830px;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 0px 15px;
}
.home-games-page .section-info-grid {
  overflow: hidden;
  padding-bottom: 50px;
  margin-top: 60px;
}
.home-games-page .section-info-grid .row.owl-carousel {
  width: calc(100% + 30px);
}
.home-games-page .section-info-grid .row.owl-carousel .owl-stage-outer .grid-item {
  margin-left: -5px;
  margin-right: -5px;
}
.home-games-page .section-info-grid .row.owl-carousel .owl-stage-outer .owl-item {
  opacity: 0.8;
}
.home-games-page .section-info-grid .row.owl-carousel .owl-stage-outer .owl-item img {
  width: auto;
}
.home-games-page .section-info-grid .row.owl-carousel .owl-stage-outer .owl-item.active {
  opacity: 1;
}
.home-games-page .section-info-grid .grid-item {
  background: #E20078;
  padding: 30px;
  height: 320px;
  position: relative;
  margin-top: 30px;
}
.home-games-page .section-info-grid .grid-item-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  /* #FFFFFF */
  color: #FFFFFF;
}
.home-games-page .section-info-grid .grid-item-description {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  margin-top: 12px;
  color: #FFFFFF;
}
.home-games-page .section-info-grid .grid-item-5 .grid-item-title {
  max-width: 350px;
}
.home-games-page .section-info-grid .grid-item-5 .grid-item-description {
  max-width: 260px;
}
.home-games-page .section-info-grid .grid-item .z-index-show {
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.home-games-page .section-info-grid .grid-item .z-index-show .blank1 {
  position: absolute;
  left: -15px;
  top: 200px;
}
.home-games-page .section-info-grid .grid-item .z-index-show .comp {
  position: absolute;
  right: 0px;
  bottom: 14px;
}
.home-games-page .section-info-grid .grid-item .z-index-show .sandwich {
  position: absolute;
  right: -15px;
  top: -60px;
}
.home-games-page .section-info-grid .grid-item .z-index-show .cat {
  position: absolute;
  right: -10px;
  bottom: 0;
}
.home-games-page .section-info-grid .grid-item .z-index-show .seeds3 {
  position: absolute;
  left: -18px;
  bottom: -15px;
}
.home-games-page .section-info-grid .grid-item .z-index-show .radio {
  position: absolute;
  right: -15px;
  bottom: 0px;
}
.home-games-page .section-info-grid .grid-item .z-index-show .blank2 {
  position: absolute;
  left: 0;
  bottom: 0px;
}
.home-games-page .section-info-grid .grid-item .z-index-show .bagel {
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.home-games-page .section-info-grid .grid-item .z-index-show .cup {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.home-games-page .section-info-grid .grid-item .z-index-show .seeds1 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: none;
}
.home-games-page .section-info-grid .grid-item .z-index-show .seeds4 {
  display: none;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.home-games-page .section-info-grid .grid-item .z-index-show .teapot {
  position: absolute;
  right: -50px;
  bottom: 0px;
}
.home-games-page .section-info-grid .grid-item .z-index-hidden {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.home-games-page .section-games .title {
  font-family: Akrobat-Black;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 0px;
}
.home-games-page .section-games .games-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-games-page .section-games .games-tabs-item {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  margin: 20px;
  color: #FFFFFF;
  padding-bottom: 9px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease;
}
.home-games-page .section-games .games-tabs-item.active {
  color: #FFE400;
  border-bottom: 5px solid #FFE400;
}
.home-games-page .section-games .games-tabs-item:hover {
  color: #FFE400;
}
.home-games-page .section-games .games-container .game-item {
  background: #551394;
  border: 8px solid #6C3AE7;
  box-sizing: border-box;
  padding: 22px 12px;
  height: 100%;
  position: relative;
}
.home-games-page .section-games .games-container .game-item .rose-button {
  position: absolute;
  bottom: 36px;
  right: 12px;
  left: 12px;
  width: calc(100% - 24px);
}
.home-games-page .section-games .games-container .game-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  color: #FFFFFF;
}
.home-games-page .section-games .games-container .game-description-home {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 150% */
  color: #FFFFFF;
}
.home-games-page .section-games .games-container .game-meta {
  margin-top: 15px;
  margin-bottom: 80px;
  display: block;
}
.home-games-page .section-games .games-container .game-meta .game-time {
  display: flex;
  align-items: center;
  margin-right: 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-family: Raleway;
}
.home-games-page .section-games .games-container .game-meta .game-time img {
  margin-right: 14px;
}
.home-games-page .section-games .games-container .game-meta .game-cost {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  font-family: Raleway;
}
.home-games-page .section-games .games-container .game-meta .game-cost img {
  margin-right: 14px;
}
.home-games-page .section-games .games-container .mobile-banner {
  margin-left: auto;
  margin-right: auto;
}
.home-games-page .section-games .games-select {
  background: rgba(255, 228, 0, 0.1);
  border: 2px solid #FFD308;
  box-sizing: border-box;
  border-radius: 4px;
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px 15px;
  outline: none;
  margin-bottom: 15px;
  text-align-last: center;
}
.home-games-page .section-games .games-select option {
  color: black;
  background: white;
}
.home-games-page .section-home-games-form-container {
  border: 8px solid #FFFFFF;
  box-sizing: border-box;
  padding: 18px 12px;
}
.home-games-page .section-home-games-form-container .form-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}
.home-games-page .section-home-games-form-container .form-caption {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #FFFFFF;
}
.home-games-page .section-home-games-form-container label {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: block;
  color: #FFFFFF;
  margin-bottom: 8px;
}
.home-games-page .section-home-games-form-container #email-subscriber {
  background: #FFFFFF;
  border-radius: 4px;
  padding: 15px 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #777B87;
  outline: none;
  border: 2px solid #FFFFFF;
  transition: all 0.2s ease;
  margin-bottom: 20px;
  width: 100%;
}
.home-games-page .section-home-games-form-container #email-subscriber:hover, .home-games-page .section-home-games-form-container #email-subscriber:focus {
  border-color: #FFE400;
}
.home-games-page .section-home-games-form-container .row-terms {
  display: flex;
  flex-direction: column-reverse;
}
.home-games-page .section-home-games-form-container .terms {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.home-games-page .section-home-games-form-container .yellow-button {
  margin-top: 10px;
  padding: 10px 30px;
}
.home-games-page .home-games-link {
  color: #FFE400;
  text-decoration: none;
}

#home-games-footer {
  background-color: #1a1a1a;
  padding: 10px;
}
#home-games-footer .to_up {
  color: white;
  background-color: #333;
  border: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 19px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  width: 100%;
  justify-content: center;
}
#home-games-footer .to_up svg {
  color: white;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
#home-games-footer .menu {
  margin-top: 10px;
  margin-bottom: 15px;
}
#home-games-footer .menu a {
  color: #666;
  margin-right: 10px;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
#home-games-footer .any-questions {
  color: #666;
  margin-bottom: 10px;
  text-decoration: none;
  display: block;
}
#home-games-footer .footer-email {
  display: block;
  color: white;
  font-family: Akrobat-Black;
  font-size: 32px;
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 10px;
}
#home-games-footer .footer-phone {
  display: block;
  color: white;
  font-family: Akrobat-Black;
  font-size: 32px;
  font-weight: 600;
  text-decoration: none;
}
#home-games-footer .footer-socials {
  display: flex;
  align-items: center;
  justify-content: center;
}
#home-games-footer .footer-socials svg {
  width: 36px;
  height: 36px;
  color: #666;
  border: 1px solid #666;
  border-radius: 50px;
  margin: 15px;
  padding: 7px;
}
#home-games-footer .personal-data a {
  color: #666;
  margin-bottom: 10px;
  display: block;
  font-size: 14px;
}

.rose-button {
  font-family: Akrobat-Black;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  background: #FC1AA3;
  box-shadow: 0px 4px 0px #A70C55;
  padding: 10px 35px;
  text-decoration: none;
  transition: all 0.5s ease;
  outline: none;
  border: none;
  cursor: pointer;
}
.rose-button:hover {
  background: #A70C55;
  transform: translate(0px, 4px);
  box-shadow: 0px 0px 0px #A70C55;
}

.yellow-button {
  font-family: Akrobat-Black;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  background: #FFE400;
  box-shadow: 0px 4px 0px #E8B229;
  padding: 16px 48px;
  text-decoration: none;
  transition: all 0.5s ease;
  outline: none;
  border: none;
  position: relative;
  cursor: pointer;
}
.yellow-button:hover {
  background: #E8B229;
  transform: translate(0px, 4px);
  box-shadow: 0px 0px 0px #E8B229;
}

@media (max-width: 767px) {
  .home-games-page .section-info-grid .grid-item .z-index-show .blank1 {
    position: absolute;
    left: -15px;
    top: 200px;
    width: 50% !important;
  }
  .home-games-page .section-info-grid .grid-item .z-index-show .comp {
    position: absolute;
    right: 0px;
    bottom: 14px;
    width: 50% !important;
  }
  .home-games-page .section-info-grid .grid-item .z-index-show .sandwich {
    position: absolute;
    right: -15px;
    top: -60px;
    width: 50% !important;
  }
  .home-games-page .section-info-grid .grid-item .z-index-show .cat {
    position: absolute;
    width: 60% !important;
    right: -10px;
    bottom: 0;
  }
  .home-games-page .section-info-grid .grid-item .z-index-show .seeds3 {
    position: absolute;
    left: -18px;
    bottom: -15px;
    width: 40% !important;
  }
  .home-games-page .section-info-grid .grid-item .z-index-show .radio {
    position: absolute;
    width: 50% !important;
    right: -15px;
    bottom: 0px;
  }
  .home-games-page .section-info-grid .grid-item .z-index-show .blank2 {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 50% !important;
  }
  .home-games-page .section-info-grid .grid-item .z-index-show .bagel {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 40% !important;
  }
  .home-games-page .section-info-grid .grid-item .z-index-show .cup {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 60% !important;
  }
  .home-games-page .section-info-grid .grid-item .z-index-show .seeds1 {
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: none;
  }
  .home-games-page .section-info-grid .grid-item .z-index-show .seeds4 {
    display: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
  .home-games-page .section-info-grid .grid-item .z-index-show .teapot {
    position: absolute;
    right: -50px;
    bottom: 0px;
  }
}
@media (min-width: 768px) {
  .home-games-page .main-section-title {
    font-size: 54px;
    margin-top: 180px;
  }
  .home-games-page .section-info-grid .grid-item .z-index-show .teapot {
    position: absolute;
    right: -80px;
    bottom: -100px;
  }
  .home-games-page .section-info-grid .grid-item.grid-item-5 {
    height: 236px;
    padding: 30px;
  }
  .home-games-page .main-section-description {
    font-size: 16px;
    line-height: 21px;
  }
  .home-games-page .section-games .title {
    font-size: 32px;
    line-height: 34px;
    margin-top: 40px;
  }
  .home-games-page .section-games .games-tabs-item {
    margin: 13px;
    font-size: 16px;
    line-height: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-games-page .section-games .games-container .game-item {
    padding: 29px;
  }
  .home-games-page .section-games .games-container .game-item .rose-button {
    right: 24px;
    left: 24px;
    width: calc(100% - 48px);
  }
  .home-games-page .section-games .games-container .game-title {
    font-size: 26px;
    line-height: 26px;
  }
  .home-games-page .section-games .games-container .game-description-home {
    font-size: 16px;
    line-height: 24px;
  }
  .home-games-page .section-home-games-form-container .row-terms {
    align-items: flex-start;
  }
  .home-games-page .section-home-games-form-container .row {
    max-width: 530px;
    margin: auto;
  }
  .home-games-page .section-home-games-form-container .form-title {
    font-size: 32px;
    line-height: 38px;
  }
  .home-games-page .section-home-games-form-container .form-caption {
    font-size: 24px;
    line-height: 36px;
  }
}
@media (min-width: 992px) {
  .home-games-page .main-section-title {
    font-size: 80px;
    line-height: 100px;
  }
  .home-games-page .main-section-description {
    font-size: 20px;
    line-height: 24px;
  }
  .home-games-page .section-info-grid .grid-item .grid-item-title {
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
  }
  .home-games-page .section-info-grid .grid-item .grid-item-description {
    font-size: 14px;
    line-height: 20px;
  }
  .home-games-page .section-info-grid .grid-item .z-index-show .comp {
    position: absolute;
    width: auto;
    height: auto;
    right: 0px;
    bottom: 0px;
  }
  .home-games-page .section-info-grid .grid-item .z-index-show .cat {
    width: auto;
    height: auto;
  }
  .home-games-page .section-info-grid .grid-item .z-index-show .radio {
    width: auto;
    height: auto;
  }
  .home-games-page .section-info-grid .grid-item.grid-item-5 .yellow-button {
    margin-top: 20px !important;
  }
  .home-games-page .section-games .title {
    font-size: 40px;
    line-height: 40px;
  }
  .home-games-page .section-games .games-container .game-meta {
    display: flex;
  }
  .home-games-page .section-games .games-container .game-item .rose-button {
    width: auto;
    left: calc(50% - 60px);
  }
  .home-games-page .section-games .games-container .game-title {
    font-size: 26px;
    line-height: 36px;
  }
  .home-games-page .section-games .games-container .game-description-home {
    font-size: 14px;
    line-height: 20px;
  }
  .home-games-page .section-home-games-form-container .row {
    max-width: none;
  }

  #home-games-footer .footer-socials {
    justify-content: flex-end;
  }
}
@media (min-width: 1200px) {
  .home-games-page .main-section-title {
    margin-top: 17 Q0px;
    margin-bottom: 20px;
  }
  .home-games-page .section-info-grid .grid-item {
    height: 270px;
  }
  .home-games-page .section-info-grid .grid-item .z-index-show .blank1 {
    position: absolute;
    width: auto;
    height: auto;
    left: -20px;
    top: 150px;
  }
  .home-games-page .section-info-grid .grid-item .z-index-show .comp {
    position: absolute;
    width: 50%;
    height: 50%;
    right: 0px;
    bottom: 10px;
    object-fit: contain;
  }
  .home-games-page .section-info-grid .grid-item .z-index-show .sandwich {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 200px;
    top: -65px;
    object-fit: contain;
  }
  .home-games-page .section-info-grid .grid-item .z-index-show .cat {
    position: absolute;
    width: 50%;
    height: 50%;
    right: 0px;
    bottom: 0;
  }
  .home-games-page .section-info-grid .grid-item .z-index-show .seeds3 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 50%;
    height: 50%;
    object-fit: contain;
  }
  .home-games-page .section-info-grid .grid-item .z-index-show .radio {
    position: absolute;
    width: 50%;
    height: 50%;
    right: -79px;
    bottom: 5px;
    object-fit: contain;
  }
  .home-games-page .section-info-grid .grid-item .z-index-show .blank2 {
    position: absolute;
    width: auto;
    height: auto;
    left: 50px;
    bottom: 0px;
  }
  .home-games-page .section-info-grid .grid-item .z-index-show .bagel {
    position: absolute;
    width: 50%;
    height: 40%;
    left: -15px;
    bottom: 0px;
    object-fit: contain;
  }
  .home-games-page .section-info-grid .grid-item .z-index-show .cup {
    position: absolute;
    right: -50px;
    bottom: 0px;
    width: 50%;
    height: 50%;
    object-fit: contain;
  }
  .home-games-page .section-info-grid .grid-item .z-index-show .seeds1 {
    position: absolute;
    right: 200px;
    width: auto;
    height: auto;
    display: block;
  }
  .home-games-page .section-info-grid .grid-item .z-index-show .seeds4 {
    position: absolute;
    right: 0px;
    top: -37px;
    width: 80px;
    height: auto;
    display: block;
    object-fit: contain;
  }
  .home-games-page .section-info-grid .grid-item .z-index-show .teapot {
    position: absolute;
    right: 0;
    top: 0px;
    width: 50%;
    height: 100%;
    object-fit: contain;
  }
  .home-games-page .section-info-grid .grid-item-4 {
    padding: 30px;
  }
  .home-games-page .section-info-grid .grid-item.grid-item-5 {
    height: 270px;
    padding: 30px;
  }
  .home-games-page .section-info-grid .grid-item.grid-item-5 .yellow-button {
    margin-top: 3rem !important;
  }
  .home-games-page .section-games .title {
    margin-top: 50px;
  }
  .home-games-page .section-games .games-tabs-item {
    margin: 20px 25px 30px 25px;
    font-size: 18px;
  }
  .home-games-page .section-home-games-form-container {
    padding: 60px 100px;
    margin-top: 50px;
  }
  .home-games-page .section-home-games-form-container .form-title {
    margin-top: 15px;
    font-size: 28px;
    line-height: 38px;
    padding-right: 10px;
  }
  .home-games-page .section-home-games-form-container .form-caption {
    margin-top: 5px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
  }
  .home-games-page .section-home-games-form-container .row-terms {
    flex-direction: row;
  }
  .home-games-page .section-home-games-form-container .yellow-button {
    margin-top: 0px;
  }
  .home-games-page .section-home-games-form-container .terms {
    margin-left: 27px;
    align-items: center;
    width: 350px;
    flex: none;
    margin-top: 5px;
    font-size: 14px;
    line-height: 17px;
  }
  .home-games-page .section-home-games-form-container #email-subscriber {
    width: 500px;
  }

  #home-games-footer .footer-socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  #home-games-footer .personal-data a {
    color: #666;
    margin-bottom: 10px;
    display: block;
  }
}

/*# sourceMappingURL=home-games.css.map */
