/*Черный (Густой) Black (Heavy)*/
@font-face {
  font-family: "Akrobat-Black";
  src: url("../fonts/akrobat/Akrobatblack.ttf");
  font-weight: 900;
  font-style: normal;
}


.store {
  height: 100vh;
  background-image: url("../images/store/bg1.png");

  &-main {
    padding-top: 90px;

    &-image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 230px;
      object-fit: cover;
    }

    &-title {
      font-size: 32px;
      text-align: center;
      font-family: Akrobat-Black;
      color: white;
      text-transform: uppercase;
    }
  }

  &-hello {
    overflow: hidden;

    .row-btns {
      max-width: 960px;
      margin-right: auto;
      margin-left: auto;
    }

    &-title {
      position: relative;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #FFFFFF;
      max-width: 200px;
      margin-right: auto;
      margin-left: auto;
    }

    &-description {
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      text-align: center;
      color: #FFFFFF;
      position: relative;
      margin-bottom: 190px;
      max-width: 240px;
      margin-left: auto;
      margin-right: auto;
    }

    &-container {
      position: relative;
      padding-top: 15px;

      .store-vector-4 {
        position: absolute;
        top: 0;
        left: 2%;
        right: 2%;
      }

      .store-vector-5 {
        position: absolute;
        top: 0;
        left: 10%;
        right: 2%;
      }

      .store-vector-4-sm {
        position: absolute;
        top: 0;
        right: 5%;
      }

      .store-vector-5-sm {
        position: absolute;
        top: 0;
        left: 5%;
      }
    }

    .btn-get-certificate {
      background: #FFE400;
      box-shadow: 0px 4px 0px #D29A21;
      font-family: Akrobat-Black;
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: 24px;
      position: relative;
      text-transform: uppercase;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 20px;
      text-align: left;
      color: #000000;
      margin-right: -15px;

      img {
        transform: scale(1.2);
        margin-top: 10px;
      }
    }

    .btn-get-merch {
      background: #2AE2A3;
      box-shadow: 0px 4px 0px #01A2A5;
      font-family: Akrobat-Black;
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: 24px;

      text-transform: uppercase;
      border: none;
      outline: none;
      cursor: pointer;
      position: relative;
      padding: 20px;
      margin-left: -15px;

      img {

      }
    }
  }

  &-certificates {
    margin-top: 100px;

    .row-certificate {
      margin-bottom: 50px;
    }

    &-title {
      font-family: Akrobat-Black;
      font-style: normal;
      font-weight: 900;
      font-size: 40px;
      line-height: 40px;

      text-align: center;
      color: #FFFFFF;
    }

    &-description {
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 80px;

    }

    .certificate-container {
      border: 8px solid #fff;
      box-sizing: border-box;

      &.pink {
        border-color: #FC1AA3;
      }

      &.yellow {
        border-color: #FFE400;
      }

      &.white {
        border-color: #fff;
      }
    }

    .certificate-type {
      font-family: Akrobat-Black;
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 40px;
      display: flex;
      align-items: center;
      color: #FFFFFF;
      margin-top: 40px;
      margin-bottom: 16px;
      text-align: center;
    }

    .certificate-btn {
      font-family: Akrobat-Black;
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
      padding: 15px 80px;
      color: #000;
      border: none;
      outline: none;
      cursor: pointer;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 25px;
      display: block;
      width: calc(100% - 40px);

      &.pink {
        background: #FC1AA3;
        box-shadow: 0px 4px 0px #A70C55;
        color: #FFFFFF;
      }

      &.yellow {
        color: black;
        background: #FFE400;
        box-shadow: 0px 4px 0px #D29A21;
      }

      &.white {
        color: black;
        background: #F8F8F8;
        box-shadow: 0px 4px 0px #CCCCCC;
      }
    }

    .certificate-image {
      margin: -50px auto 0;
      display: block;
    }

    .certificate-description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
    }

    .certificate-subtitle {
      font-weight: 700;
      font-size: 20px;
      line-height: 29px;
      padding: 0px 20px 20px;

    }

  }

  .certificate-help {
    .certificate-info {
      margin-right: 0px;
      margin-left: 0px;
      background: #6C3AE7;
      border: 8px solid #6C3AE7;
      box-sizing: border-box;
    }

    .certificate-info-title {
      font-family: Akrobat-Black;
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      padding: 40px 20px 20px;
      text-align: center;

      color: #FFFFFF;

    }

    .certificate-info-btn {
      font-family: Akrobat-Black;
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
      padding: 15px 80px;
      color: black;
      background: #F8F8F8;
      box-shadow: 0px 4px 0px #CCCCCC;
      border: none;
      outline: none;
      cursor: pointer;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 50px;

    }

    .center {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

    }
  }

  .store-merch {
    &-title {
      font-family: Akrobat-Black;
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 28px;
      color: #FFFFFF;
      margin-bottom: 20px;
      text-align: center;
    }

    &-description {
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      color: #FFFFFF;
      margin-bottom: 72px;
      text-align: center;

    }

    &-grid {
      &-item {
        text-align: center;
        padding-bottom: 90px;

        &-img {
          border: 4px solid #6C3AE7;
          box-sizing: border-box;
          position: relative;

          img {
            display: block;
            width: 100%;
            height: 160px;
            object-fit: cover;
          }

          .store-badge {
            background: #6C3AE7;
            position: absolute;
            font-family: Raleway;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: #F3F4F7;
            width: 120px;
            height: 40px;
            padding-left: 40px;
            text-align: left;
            bottom: 0px;
            left: calc(50% - 60px);

            img {
              width: 38px;
              height: 38px;
              position: absolute;
              top: 4px;
              left: 4px;
            }
          }
        }

        &-title {
          font-family: Raleway;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #FFFFFF;
          margin-top: 14px;
          max-width: 100%;
          word-break: break-all;

        }

        &-price {
          font-family: Akrobat-Black;
          font-style: normal;
          font-weight: 900;
          font-size: 20px;
          line-height: 40px;
          display: flex;
          align-items: center;
          color: #FFFFFF;
          margin-top: 14px;
          justify-content: center;

          img {
            margin-left: 10px;
            width: 11px;
            height: 14px;
          }
        }

        &-btn {
          background: #FC1AA3;
          box-shadow: 0px 4px 0px #A70C55;
          font-family: Akrobat-Black;
          font-style: normal;
          font-weight: 900;
          font-size: 20px;
          line-height: 20px;
          text-transform: uppercase;
          padding: 15px 50px;
          margin-left: auto;
          margin-right: auto;
          color: #FFFFFF;
          margin-top: 25px;
          display: inline-block;
          border: none;
          cursor: pointer;
          outline: none;
        }
      }
    }
  }

  .store-how_to {
    margin-bottom: 100px;

    &-title {
      font-family: Akrobat-Black;
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 28px;
      color: #FFFFFF;
    }

    &-description {
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
      max-width: 973px;
      margin-bottom: 30px;
    }

    .how_to-collapse {
      .layout {
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        padding: 25px 20px;
        border: 5px solid rgb(255 255 255 / 0.5);
        box-sizing: border-box;
        cursor: pointer;
        margin-bottom: 20px;
      }

      .question {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
          transition: all 0.2s ease;
          margin-left: 15px;

        }

        &.open {
          img {
            transform: rotateZ(180deg);
          }
        }
      }

      .answer {
        margin-top: 30px;
      }
    }
  }


}

.yellow-button {
  font-family: Akrobat-Black;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  background: #FFE400;
  box-shadow: 0px 4px 0px #E8B229;
  padding: 16px 48px;
  text-decoration: none;
  transition: all 0.5s ease;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    background: #E8B229;
    transform: translate(0px, 4px);
    box-shadow: 0px 0px 0px #E8B229;

  }
}

#home-games-footer {
  background-color: #1a1a1a;
  padding: 10px;


  .to_up {
    color: white;
    background-color: #333;
    border: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 19px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
    justify-content: center;

    svg {
      color: white;
      width: 24px;
      height: 24px;
      margin-right: 5px;
    }
  }

  .menu {

    margin-top: 10px;
    margin-bottom: 15px;

    a {
      color: #666;
      margin-right: 10px;
      text-decoration: none;
      margin-bottom: 10px;
      display: inline-block;

    }
  }

  .any-questions {
    color: #666;
    margin-bottom: 10px;
    text-decoration: none;
    display: block;
  }

  .footer-email {
    display: block;
    color: white;
    font-family: Akrobat-Black;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .footer-phone {

    display: block;
    color: white;
    font-family: Akrobat-Black;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
  }

  .footer-socials {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 36px;
      height: 36px;
      color: #666;
      border: 1px solid #666;
      border-radius: 50px;
      margin: 15px;
      padding: 7px;
    }
  }

  .personal-data a {
    color: #666;
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
  }

}

@media (min-width: 768px) {

  .store {
    &-hello {
      &-container {
        padding-top: 50px;

        .store-vector-4 {

          top: 0;
          left: 2%;
          right: 2%;
        }

        .store-vector-5 {
          top: 0;
          left: 2%;
          right: 2%;
        }
      }

      &-title {
        font-size: 32px;
        line-height: 34px;
        max-width: 380px;

      }

      &-description {
        max-width: 451px;
        font-size: 16px;
        line-height: 21px;
      }

      .btn-get-certificate {
        font-size: 34px;
        line-height: 36px;
        padding: 26px 50px;
        max-width: 462px;
        height: 124px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        display: block;
        margin-bottom: 64px;

        img {
          transform: scale(1);
          margin-top: 0px;
          position: absolute;
          top: -20px;
          right: 0;
        }
      }

      .btn-get-merch {
        font-size: 34px;
        line-height: 36px;
        padding: 26px 50px;
        max-width: 462px;
        height: 124px;
        margin-bottom: 64px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        display: block;
        text-align: left;

        img {
          transform: scale(0.8);
          margin-top: 0px;
          position: absolute;
          top: -70px;
          right: -30px;
        }
      }
    }

    &-certificates {
      &-title {
        font-size: 32px;
        line-height: 34px;
      }

      &-description {
        font-size: 16px;
        line-height: 21px;
      }

      .certificate-subtitle {
        font-size: 22px;
        line-height: 28px;
        padding: 0px 0px 20px 0px;

      }

      .certificate-description {
        font-size: 16px;
        line-height: 21px;
      }

      .certificate-type {
        margin-top: 0px;
      }
    }

    .certificate-help {
      margin-bottom: 120px;

      .certificate-info-title {
        font-size: 30px;
        line-height: 34px;
        text-align: left;
        padding: 20px 20px 20px;

      }

      .certificate-info-btn {
        margin-bottom: inherit;
      }
    }

    .store-merch {
      &-title {
        font-size: 32px;
        line-height: 34px;

      }

      &-description {
        font-size: 16px;
        line-height: 21px;
      }

      &-grid {
        &-item {
          &-title {
            height: 50px;
            font-size: 18px;
            line-height: 26px;
          }

          &-price {
            font-size: 32px;
            line-height: 34px;

            img {
              width: 17px;
              height: 21px;
            }
          }

          &-img {


            img {
              height: 300px;
            }
          }
        }
      }
    }

    .store-how_to {
      &-title {
        font-size: 32px;
        line-height: 34px;
      }

      &-description {
        font-size: 16px;
        line-height: 21px;
      }
    }
  }

  .modal-overlay .modal-content {
    .modal-form {
      max-width: 400px;
    }
  }
}


@media (min-width: 992px) {

  .store {
    &-hello {
      &-title {
        font-size: 40px;
        line-height: 44px;
        max-width: 500px;
      }

      &-description {
        font-size: 20px;
        line-height: 28px;
        max-width: 530px;
      }
    }

    &-certificates {
      &-title {
        font-size: 40px;
        line-height: 40px;
      }

      &-description {
        font-size: 20px;
        line-height: 24px;
      }

      .certificate-type {
        margin-top: 40px;
      }
    }

    .certificate-help {
      .certificate-info-title {


        padding: 60px 0px 60px 60px;
      }
    }

    .store-merch {
      &-grid {
        &-item {

          &-title {
            font-size: 22px;
            line-height: 26px;
          }

          &-img {
            img {
              height: 330px;
            }
          }

          &-price {
            font-size: 36px;
            line-height: 40px;

            img {
              width: 21px;
              height: 26px;
            }
          }

          &-btn {
            padding: 15px 80px;

          }
        }
      }

      &-title {
        font-size: 40px;
        line-height: 40px;
      }

      &-description {
        font-size: 20px;
        line-height: 24px;
      }
    }

    .store-how_to {
      &-title {
        font-size: 40px;
        line-height: 40px;
      }

      &-description {
        font-size: 20px;
        line-height: 24px;
      }

      .how_to-collapse {
        .layout {
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }

  .modal-overlay .modal-content {
    padding: 50px 100px;
    max-width: 1000px;
    min-width: 300px;
    .modal-form {
      max-width: 100%;
    }
  }
  #home-games-footer .footer-socials {
    justify-content: flex-end;
  }
}

@media (min-width: 1200px) {

  .store-main {
    padding-top: 200px;

  }

  .store {
    &-hello {

      &-title {
        position: relative;
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
        color: #FFFFFF;
      }

      &-description {
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        color: #FFFFFF;
        position: relative;
        margin-bottom: 190px;
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
      }

      &-container {
        position: relative;
        padding-top: 50px;

        .store-vector-4 {
          position: absolute;
          top: 0;
          left: 2%;
          right: 2%;
        }

        .store-vector-5 {
          position: absolute;
          top: 0;
          left: 10%;
          right: 2%;
        }
      }

      .btn-get-certificate {
        background: #FFE400;
        box-shadow: 0px 4px 0px #D29A21;
        font-family: Akrobat-Black;
        font-style: normal;
        font-weight: 900;
        font-size: 34px;
        line-height: 36px;
        position: relative;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 26px 41px;
        width: 100%;
        text-align: left;
        color: #000000;
        height: 124px;

        img {
          position: absolute;
          top: -30px;
          right: 0;
        }
      }

      .btn-get-merch {
        background: #2AE2A3;
        box-shadow: 0px 4px 0px #01A2A5;
        font-family: Akrobat-Black;
        font-style: normal;
        font-weight: 900;
        font-size: 34px;
        line-height: 36px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        border: none;
        outline: none;
        cursor: pointer;
        position: relative;
        padding: 26px 41px;
        width: 100%;
        height: 124px;

        img {
          position: absolute;
          top: -90px;
          right: -50px;
        }
      }
    }

    &-certificates {

      &-title {
        font-size: 40px;
        line-height: 40px;
      }

      &-desciption {
        font-size: 20px;
        line-height: 24px;
      }

      .certificate-image {
        position: absolute;
        top: -50px;
        margin: 0px;

      }

      .certificate-btn {
        font-family: Akrobat-Black;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
        padding: 15px 80px;
        color: #000;
        border: none;
        outline: none;
        cursor: pointer;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 50px;

        &.pink {
          background: #FC1AA3;
          box-shadow: 0px 4px 0px #A70C55;
          color: #FFFFFF;
        }

        &.yellow {
          color: black;
          background: #FFE400;
          box-shadow: 0px 4px 0px #D29A21;
        }

        &.white {
          color: black;
          background: #F8F8F8;
          box-shadow: 0px 4px 0px #CCCCCC;
        }
      }

      .certificate-subtitle {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
      }

    }

    .certificate-help {

      .certificate-info-title {
        font-size: 30px;
        line-height: 34px;
        margin: 30px 0px 30px 75px;
        padding: 0px;

      }
    }

    .store-merch {
      &-title {
        font-size: 40px;
        line-height: 40px;
      }

      &-description {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 72px;
      }

      &-grid {
        &-item {
          padding-bottom: 45px;

          &-img {
            border: 8px solid #6C3AE7;


            img {
              height: 300px;
            }

            .store-badge {
              width: 145px;
              height: 45px;
              padding-left: 46px;
              left: calc(50% - 72.5px);

              img {
                width: 38px;
                height: 38px;
                position: absolute;
                top: 4px;
                left: 4px;
              }
            }
          }

          &-title {
            font-size: 22px;
            line-height: 26px;
          }

          &-price {

            font-size: 36px;
            line-height: 40px;

            img {
              margin-left: 10px;
              width: auto;
              height: auto;
            }
          }

          &-btn {
            padding: 15px 80px;

          }
        }
      }
    }

    .store-how_to {

      &-title {
        font-size: 40px;
        line-height: 40px;
      }

      &-description {
        font-size: 16px;
        line-height: 21px;
      }

      .how_to-collapse {
        .layout {
          padding: 35px 40px;
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }
  .modal-overlay .modal-content {


    .modal-close {
      top: 0;
      right: 33px;
    }

    .product-title {
      font-size: 40px;
      line-height: 48px;
      margin-top: 0px;
      text-align: left;
      margin-bottom: 0px;
    }

    .product-size {
      text-align: left;
    }
  }

  #home-games-footer .footer-socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  #home-games-footer .personal-data a {
    color: #666;
    margin-bottom: 10px;
    display: block;
  }
}


.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  z-index: 1100;
  overflow: auto;
  display: none;

  &.active {
    display: flex;
  }

  .modal-content {
    background-color: white;
    max-width: 90%;
    position: absolute;
    top: 50px;
    padding: 25px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: -50px;
      background: rgb(255, 255, 255);
      background: linear-gradient(-1deg, white 48%, transparent 50%);
      height: 50px;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -50px;
      background: rgb(255, 255, 255);
      background: linear-gradient(1deg, transparent 48%, white 50%);
      height: 50px;
    }

    .modal-close {
      position: absolute;

      top: -13px;
      right: 24px;
      transition: all 0.5s ease;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }

    .product-title {
      font-family: Akrobat-Black;
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 29px;
      color: #212226;
      margin-top: 20px;
      text-align: center;
      margin-bottom: 20px;
    }

    .product-img {
      border: 6px solid #6C3AE7;
      box-sizing: border-box;

      img {
        width: 100%;
        display: block;
      }
    }

    .product-images {
      border: 6px solid #6C3AE7;

      img {
        display: block;
      }

      .owl-nav {
        position: absolute;
        bottom: 0;
        left: calc(50% - 56px);
        display: block;

        .owl-prev {
          padding: 15px !important;
          outline: none;
          border: none;
          background: #6C3AE7;
          transition: all 0.5s ease;

          &:hover {
            background: #5A27E7;
          }
        }

        .owl-next {
          padding: 15px !important;
          outline: none;
          border: none;
          background: #6C3AE7;
          transition: all 0.5s ease;

          &:hover {
            background: #5A27E7;
          }
        }
      }
    }

    .product-description {
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #212226;
      margin-top: 15px;
    }

    .product-meta {
      margin-top: 30px;

      &-item {
        display: flex;
        margin-bottom: 15px;

        &-label {
          font-family: Raleway;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: #777B87;
          margin-right: 10px;
        }

        &-value {
          font-family: Raleway;
          font-style: normal;
          font-weight: 800;
          font-size: 16px;
          line-height: 20px;
          /* identical to box height, or 125% */

          font-feature-settings: 'pnum' on, 'lnum' on;

          /* Text */

          color: #212226;
        }
      }
    }

    .product-size {
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #212226;
      margin-top: 40px;
      text-align: center;

      .order-select {
        margin-top: 8px;
        width: 280px;
      }
    }

    .separator {
      background: #CDCFD7;
      height: 1px;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .product-form {
      max-width: 580px;
      margin-right: auto;
      margin-left: auto;

      .yellow-button {
        margin-right: auto;
        margin-left: auto;
        display: block;
        margin-top: 15px;
      }

      .order-select {
        width: 100%;
      }

      .order-input {
        width: 100%;
      }

      &-title {
        font-family: Raleway;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #212226;
        margin-bottom: 15px;
      }
    }

    .order-select {
      background-color: #F3F4F7;
      border-radius: 4px;
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #181920;
      padding: 15px 50px 15px 20px;
      display: block;
      border: none;
      outline: none;
      cursor: pointer;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAJCAYAAAACTR1pAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACZSURBVHgBhc/BDcIwDAXQ7xwQR0awIiQ4sgKbMEI3YQVWYIKu0BE6AueCYuy2UpvGbb8UydLXixNAE+OlYg12wnzlGM+VzWSDIDwhaEW6e6tZQxRSbaMkPEJKv5eiBgQmOtTe5jmCSAN0bxoKPhlSfFtuXiKRr3Ufmm4tMXCEh/o/5k/K8dgWqIAFtjjIhRnWtR7ajGE7a/0ftstqGWxVUjYAAAAASUVORK5CYII=);
      background-position: right 20px top 20px;
      background-repeat: no-repeat;
      -moz-appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
    }

    .order-input {
      background: #F3F4F7;
      border-radius: 4px;
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #777B87;
      padding: 16px 20px;
      border: none;
      cursor: text;
      outline: none;
      margin-bottom: 15px;
    }

    .by-courier {
      display: none;
      margin-top: 30px;

      &.active {
        display: block;
      }
    }
  }
}

.modal-open {
  overflow: hidden;
}


